body
{

}
#chatbot p
{
  float:left;
}
#chatbot
{
  width: 100%;
  height: 300px;
  background-color:#0F0;
  margin:0 auto;   
}
#global
{
  background-color:#F00;
  width: 50%;
  margin:0 auto;
  text-align:center;
}

#text
{
  float:left;
  width: 80%;
}
#btn1{
}
#btn2{
}
#layout
{
}
